<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2"></div>
    <div class="col-12 col-md-auto">
      <h1>{{title}}</h1>
      <!--<p>TESTE to {{title}}</p>
      -->
      {{#if personality}}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Percentage</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          {{#each personality}}
          <tr style="text-align: center;">
          <td style="vertical-align: middle;">{{name}}</td>
          <td style="vertical-align: middle;">{{formatInt percentile}}%</td>
          <td>
          <table class="table table-bordered">
            <tr>
              <th>Name</th>
              <th>Percentage</th>
            </tr>
            {{#each children}}
              <tr>
                <td style="vertical-align: middle;">{{name}}</td>
                <td style="vertical-align: middle;">{{formatInt percentile}}%</td>
              </tr>
            {{/each}}
            </table>
          </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{/if}}

      <form action="/app/" method="post">
        Insert to Text:<br>
        <textarea name="text" cols="40" rows="5" placeholder="Insert a text with 100 words or more..."></textarea>

        <br><br>
        <input type="Submit" value="Submit">
      </form>
    </div>
    <div class="col col-lg-2"></div>
  </div>
</div>
